<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cottee.managerstore">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <!-- 判断网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RegisterStoreActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.RegisterStoreInfoActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity.StoreStyleActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity1.BossLoginActivity">
        </activity>
        <activity
            android:name=".activity1.ForgetPasswordActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity1.ForgetVarActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity1.RegisterFinishActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity1.RegisterPasswordActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity1.RegisterVarActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity1.StoreManagerMainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity.StoreAddressActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.SearchLocationActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity1.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StoreManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.DetialInfomation"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity.BigPhotoActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity1.ProjectManageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.FrontCoverActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.PhotoClipActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.PhotoClipSmallActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity1.ProjectManageAddClassifyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity1.EmployeeManageActivity"/>
        <activity
            android:name=".activity.VIPManagerActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.ManageMoneyActivity"
            android:launchMode="singleTask">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <meta-data
            android:name="TencentMapSDK"
            android:value="7KLBZ-SVMRD-PBA4J-PR24M-TKJW3-C2BX2"/>

        <activity android:name=".activity.ManageFoodDetailActivity">
        </activity>
        <activity android:name=".activity.AddFoodActivity">
        </activity>
        <activity android:name=".activity.FoodDetailActivity">
        </activity>
        <activity android:name=".activity.ManagePicActivity">
        </activity>
    </application>

</manifest>